*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#334d89;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

overflow-x:hidden;
overflow-y: auto;

}


/* layar hp */

.phone{

width:390px;
height:844px;

background:
radial-gradient(
circle,
#3a5972,
#274a78
);

border-radius:35px;

overflow-y:auto;
overflow-x: hidden;

position:relative;

box-shadow:
0 0 40px rgba(0,0,0,.5);

padding-bottom: 100px;

}

.phone::-webkit-scrollbar{
display:none;
}


/* halaman awal */

.opening{

height:100%;

display:flex;

justify-content:center;

align-items:center;

}


/* card pembuka */

.welcome-card{

width:300px;

padding:30px;

border-radius:30px;

background:
rgba(255,255,255,.12);

backdrop-filter:blur(15px);

border:
1px solid rgba(255,255,255,.3);

box-shadow:
0 0 25px rgba(100,181,246,.7);

text-align:center;

color:white;

}


/* kado */

.gift-box{

font-size:100px;

cursor:pointer;

animation:lompat 1.5s infinite;

}

@keyframes lompat{

50%{

transform:
translateY(-15px);

}

}


#birthday{

display:none;

padding:30px;

text-align:center;

color:white;

}


/* judul */

h1{

font-size:45px;

text-shadow:
0 0 20px #64b5f6;

}

span{

color:#bfe7ff;

}

/* card */

.card{

width:100%;

padding:18px;

margin:15px auto;

border-radius:25px;

background:
rgba(255,255,255,.12);

backdrop-filter:blur(10px);

border:
1px solid rgba(255,255,255,.2);

box-shadow:
0 0 20px rgba(100,181,246,.5);

font-weight:bold;

transition:.5s;

color:white;

}

.card:hover{

transform:
translateY(-5px);

box-shadow:
0 0 30px rgba(144,202,249,.8);

}


/* bunga */

.flower{

position:absolute;

top:-30px;

font-size:20px;

pointer-events:none;

animation:jatuh linear infinite;

opacity:.8;

}

@keyframes jatuh{

100%{

transform:
translateY(900px)
rotate(360deg);

}

}

.card{

max-height:none;

word-wrap:break-word;

line-height:1.6;

}

#birthday{

min-height:100%;

padding-bottom:120px;

}

/* galeri */

.gallery img{

width:100%;

height:180px;

object-fit:cover;

border-radius:20px;

border:3px solid white;

box-shadow:
0 0 20px
rgba(255,255,255,.5);

transition:.5s;

}

.gallery img:hover{

transform:scale(1.05);

}

.tombol-foto,
.tombol-kembali{

cursor:pointer;

}

/* judul kenangan */

.judul-kenangan{

font-family:'Great Vibes',cursive;

font-size:55px;

font-weight:normal;

margin-top:20px;

color:#ffffff;

text-shadow:
0 0 10px #9fd8ff,
0 0 20px #64b5f6,
0 0 35px #42a5f5;

animation:fadeMasuk 1.5s ease;

}

.sub-kenangan{

font-family:'Poppins',sans-serif;

font-size:15px;

margin-top:10px;

margin-bottom:25px;

opacity:.9;

letter-spacing:2px;

color:#dbefff;

}

@keyframes fadeMasuk{

from{

opacity:0;

transform:
translateY(20px);

}

to{

opacity:1;

transform:
translateY(0);

}


/* galeri foto seperti foto pertama */

.foto-galeri{

width:100%;

height:220px;

border-radius:20px;

display:block;

object-fit:cover;

border:3px solid white;

margin: auto;

}

.caption{

margin-top:15px;

font-size:15px;

font-style:italic;

color:#dbefff;

letter-spacing:1px;

}

/* FOTO UTAMA */

.foto-card{

width:280px;

margin:25px auto;

padding:15px;

border-radius:30px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.2);

box-shadow:
0 0 25px rgba(100,181,246,.5);

}

.foto-frame{

padding:8px;

border-radius:25px;

background:
linear-gradient(
45deg,
rgba(255,255,255,.2),
rgba(100,181,246,.5)
);

}

.foto{

width:100%;

height:280px;

display:block;

object-fit:cover;

border-radius:20px;

border:3px solid white;

}


/* GALERI */

.gallery{

display:flex;

flex-direction:column;

gap:20px;

margin-top:25px;

padding-bottom:50px;

}

.foto-galeri{

width:220px;

height:220px;

display:block;

margin:auto;

object-fit:cover;

border-radius:20px;

border:3px solid white;

}

.caption{

margin-top:15px;

font-size:15px;

font-style:italic;

color:#dbefff;

letter-spacing:1px;

text-align:center;

}

